<div class="card">
  <img
    src="{{ image }}"
    alt="{{ alt }}"
    class="card__image"
  />
  <div class="card__content">
    <h4 class="card__title">{{{ title }}}</h4>
    <p class="card__description">{{{ description }}}</p>
  </div>
</div>